#
# Copyright 2021 IBM Corp.
# SPDX-License-Identifier: Apache-2.0
#

/build             export-ignore linguist-vendored=false
/build/**          export-ignore linguist-vendored=false
/python/doc/**     export-ignore linguist-vendored=false
/site              export-ignore linguist-vendored=false
/site/**           export-ignore linguist-vendored=false
/notebooks/**      export-ignore linguist-vendored=false