# Copyright 2021 IBM Corp.
# SPDX-License-Identifier: Apache-2.0

name: "build"

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**/README.md'
      - '**/CONTRIBUTING.md'
      - 'site/**'
      - 'notebooks/**'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**/README.md'
      - '**/CONTRIBUTING.md'
      - 'site/**'
      - 'notebooks/**'
  workflow_dispatch:

jobs:
  build:
    name: Build xskipper and run Scala and Python tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Xskipper repository
        uses: actions/checkout@v2
      - name: Cache Coursier local repository
        uses: actions/cache@v4
        with:
          path: ~/.cache/coursier
          key: coursier-${{ hashFiles('**/pom.xml', '**/plugins.sbt') }}
          restore-keys: |
            coursier-
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: semeru
      - name: Install Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: 3.8
          architecture: x64
      - name: Install Python packages (Python 3.8)
        run: |
          python3.8 -m pip install pyspark==3.5.4
      - name: Run sbt clean
        run: build/sbt clean
      - name: Run sbt compile
        run: build/sbt compile
      - name: Run Scala tests
        run: build/sbt test
      - name: Run Python tests
        run: python3.8 run-tests.py
