# Copyright 2021 IBM Corp.
# SPDX-License-Identifier: Apache-2.0

name: "Publish Snapshot"

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  publish-snapshot:
    if: github.repository == 'xskipper-io/xskipper'
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        branch:
          - master
    steps:
      - name: Checkout Xskipper repository
        uses: actions/checkout@v2
        with:
          ref: ${{ matrix.branch }}
      - name: Cache Maven local repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: snapshot-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            snapshot-maven-
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Install Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: 3.8
          architecture: x64
      - name: Install Python packages (Python 3.8)
        run: |
          python3.8 -m pip install pyspark==3.5.4
      - name: Run sbt clean
        run: build/sbt ++2.12.8 clean
      - name: Run sbt compile
        run: build/sbt ++2.12.8 compile
      - name: Run Scala tests
        run: build/sbt ++2.12.8 test
      - name: Run Python tests
        run: python3.8 run-tests.py
      - name: Publish snapshot
        env:
          NEXUS_USER: ${{ secrets.NEXUS_USER }}
          NEXUS_PW: ${{ secrets.NEXUS_PW }}
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          GIT_REF: ${{ matrix.branch }}
        run: |
          echo $PGP_SECRET | base64 --decode | gpg --batch --import
          build/sbt ++2.12.8 publishSigned